<p-panel header="Ranking Chamados">
  <div>
    <label>Período</label>
    <p-calendar  [style]="{'margin-left':'5px','width':'400px'}" [showIcon]="true"></p-calendar>
    <label> à </label>
    <p-calendar [style]="{'margin-left':'5px','width':'400px'}" [showIcon]="true"></p-calendar>

  </div>
  <br/>
  <div>
    <label for="">Tipo de Ranking</label>

    <p-dropdown [style]="{'width':'400px','margin-left':'20px'}" [options]="solicitantes" optionLabel="tipo"
      [(ngModel)]="seletecdSolicitante" placeholder="Selecione opção"> </p-dropdown>

  </div>
  <br/>
  <div>
    <label for="">Status</label>
    <p-dropdown [style]="{'width':'400px','margin-left':'20px'}" placeholder="Selecione opção" [options]="status"
      optionLabel="tipo" [(ngModel)]="selectedStatus"></p-dropdown>
  </div>
  <br>
  <div style="display:flex; flex-direction: row-reverse;">

    <button pButton type="button" label="Pesquisar" ></button>
    <br/>
    <button  pButton class="p-button-secondary button-limpar" type="button" label="Limpar"  ></button>
  </div>
</p-panel>
<div>
  <p-table #dt [value]="solicitantesTable" styleClass="p-datatable-striped" dataKey="id" [style]="{'width':'100%'}"
    currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries" [rowsPerPageOptions]="[10,25,50]"
    [paginator]="true" [rows]="10" [showCurrentPageReport]="true">
    <ng-template pTemplate="header">
      <tr>
        <th>Solicitante</th>
        <th style="width:30%">Quantidade</th>

      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-solicitante>
      <tr>
        <td>{{solicitante.solicitante}}</td>
        <td>{{solicitante.qtd}}</td>

      </tr>
      <ng-template pTemplate="paginatorleft">
        <p-button type="button" icon="pi pi-plus" styleClass="p-button-text"></p-button>
      </ng-template>
      <ng-template pTemplate="paginatorright">
        <p-button type="button" icon="pi pi-cloud" styleClass="p-button-text"></p-button>
      </ng-template>
    </ng-template>
  </p-table>
</div>